<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
>



<head>
	<meta charset="UTF-8">
	<title>Hair Salon Owner</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link
		rel="stylesheet"
		type="text/css"
		th:href="@{/css/style.css}"
	>
</head>



<body>
<div class="content" th:with="user=${#authentication.principal.user}">


	<br>
	<br>


	<span th:text="${user.username2}"></span> is logging in.


	<br>
	<br>


	<form th:action="@{/logout}" method="post">
		<button type="submit" class="btn waves-effect waves-light">Log out</button>
	</form>


	<br>
	<br>
	<br>
	<br>


	<h5>Hair Salon Owner</h5>




	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</div>
</body>



</html>
